<!-- 1st row -->
<div class="square img-1 hvr-float-shadow"  >
</div>
<div class="square img-2 hvr-float-shadow">
</div>
<div class="square img-3 hvr-float-shadow">
</div>

<!-- 2nd row -->
<div class="square img-4 hvr-float-shadow">
</div>
<div class="square img-5 hvr-float-shadow">
</div>
<div class="square img-6 hvr-float-shadow">
</div>

<!-- 3rd row -->
<div class="square img-7 hvr-float-shadow">
</div>
<div class="square img-8 hvr-float-shadow">
</div>
<div class="square img-9 hvr-float-shadow">
</div>

<div class="square img-10 hvr-float-shadow">
</div>
<div class="square img-11 hvr-float-shadow">
</div>
<div class="square img-12 hvr-float-shadow">
