<div class="restaurants-container" ><!-- 1st row -->
  <% @round.restaurants.each do |r| %>
    <div class='restaurant-item voteable square hvr-float-shadow' data-restaurant-id='<%= r.id %>' data-round-id='<%= @round.id %>'>
      <p><%= r.name %></p>
    </div>
  <% end %>
</div>
