<h1 class="center" id="winner-title">Winner!!</h1>

<div class="results-container">

  <div class="center results">
    <div id="winner-name"><%= @winner.name %></div>
    <div id="winner-address"> Located at: <%= link_to "https://www.google.com/maps/dir/#{@winner.address.split.join('+')}/ %></div>
    <div id="winner-website"><%= link_to "Info", "http://www.google.com#q=#{@winner.name.split.join('+')}" %></div>
  </div>

</div>

