<div class="center results-container"><h1 id="winner">And the winner is ...</h1>
    <div id="name-container"> <div class="hvr-grow-shadow" id="winner-name"><%= @winner.name %></div></div>
    <div id="winner-address"> Located at: <%= @winner.address %></div>
    <div id="winner-website"><%= link_to "Info", "http://www.google.com#q=#{@winner.name.split.join('+')}" %></div>
</div>

