<!-- $that.css('color': 'red').append("<p class='center'>You Voted</p>") -->
<div class=" form-container">

  <h1>Here is the WINNER! : <br><span class="center"><%= @winner.name %>, <%= @winner.address %></span></h1>

</div>

<div class="lets-eat">
  <img src="https://pbs.twimg.com/profile_images/660629858414804993/odAIW6hE.png">
</div>
