<h1 class="center" id="winner-title">Winner!!</h1>

<div class="results-container">

  <div class="center results">
    <div id="winner-name"><%= @winner.name %></div>
    <div> Located at: <%= @winner.address %></div>
    <div id="winner-website"><%= link_to "Info", "http://www.google.com#q=#{@winner.name.split.join('+')}" %></div>
  </div>

</div>

<div class="lets-eat">
  <img src="https://pbs.twimg.com/profile_images/660629858414804993/odAIW6hE.png">
</div>
