<!-- $that.css('color': 'red').append("<p class='center'>You Voted</p>") -->
<div class="form-container">

  <h1 class="center">Winner:</h1>

  <div class="results">
    <p><%= @winner.name %>, at</p>
    <p><%= @winner.address %></p>
  </div>


</div>

<div class="lets-eat">
  <img src="https://pbs.twimg.com/profile_images/660629858414804993/odAIW6hE.png">
</div>
