<h1>round show page</h1>

<% if session[:creator] %>
  <%= @round.key %>
<% end %>

<div id="secret" data-round-id="<%= @round.id %>"></div>

<ul id="users-ul">
<% @round.users.each do |user| %>
<li><%= user.name %></li>
<% end %>
</ul>
