<div id='container'>

<%= render "restaurants_list" %>

<% if session[:creator] %>
  <%= @round.key %>
<% end %>

<div class="names-container">
  <ul id="users-ul">
   <% @round.users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
  </ul>
</div>

<% if session[:creator] %>
  <%= link_to 'Results', "/rounds/#{@round.id}/results" %>
<% end %>

