<h1 class="center header">What Should We Eat!?</h1>

<h2 class="instruction center">Join a game to decide where to eat</h2>

<div class="container center">
	<%= label :restaurant, "Choice of Food: " %><br>
	<%= text_field :restaurant, "Choice of Food: " %> 
</div>

<div class="options center">
	<ul>
		<li class="list-items">Pizza</li>
		<li class="list-items">Burgers</li>
		<li class="list-items">Chinese</li>
		<li class="list-items">BBQ</li>
		<li class="list-items">Ramen</li>
		<li class="list-items">Hot Dogs</li>
		<li class="list-items">Mediterranean</li>
		<li class="list-items">Random</li>
	</ul>
</div>