/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*html {
  height: 100%;
}*/

body, html {
  min-height: 100%;
}

/*Body Set*/
body {
	background-image: url('http://orizabeats.com/wp-content/uploads/2017/05/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0 0 50px 0;
}

/*Formatting*/
.index-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: yellow;
}

.shadow {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header {
	font-family: 'Bungee Shade';
	font-size: 70px;
	color: white;
  text-shadow:
   -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
   -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
}

/*Header Motions*/
.header {
  position: relative;
  margin-top: 8%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  text-transform: uppercase;
  letter-spacing: 60px;
  transition: .5s;
  width: 60%;
}

.header:before,
.header:after,
.main-title:before,
.main-title:after {
  content: '';
  position: absolute;
  width: 25.5%;
  height: 100%;
  background: white;
  z-index: -1;
  transition: .5s;
}

.header:before {
  top: 0;
  left: -26%;
}

.header:hover:before {
  top: 0;
  left: 0;
}

.header:after {
  top: 0;
  right: -26%;
}

.header:hover:after {
  top: 0;
  right: 0;
}

.main-title:before {
  bottom: -100%;
  left: 25%;
}

.header:hover .main-title:before {
  bottom: 0%;
  left: 25%;
}

.main-title:after {
  top: -100%;
  left: 50%;
}

.header:hover .main-title:after {
  top: 0;
  left: 50%;
}

.header:hover {
  color: black;
}

/*Index text directions*/
.game-instruction {
	font-family: 'Cuprum';
	font-size: 25px;
	color: white;
  letter-spacing: 2px;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

#welcome-message {
  font-size: 50px;
  text-align: center;
  margin: 0;
  color: white;
  font-family: 'Cuprum';
  text-shadow:
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px 2px 0 #000,
    2px 2px 0 #000;
}

#direction {
  margin: 0;
  color: #41A005;
  font-size: 40px;
  text-align: center;
}

.form-container {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 20px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.join-form {
  margin: 5px;
  text-align: center;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding: 10px;
}

#join-name {
  margin-bottom: 4px;
}

.options{
  display: flex;
  color: white;
}

.create-form {
  margin: 5px;
  text-align: center;
  padding: 10px;
}

#create-button {
  /*border: solid 2px #41A005;*/
  display: none;
}

.submit-button {
  font-family: 'Bungee Shade';
  color: white;
  background: black;
  letter-spacing: 3px;
  font-size: 60px;
  width: 100%;
  padding: 2px 6px 2px 6px;
  border: 4px solid white;
}

.btn {
  margin-top: 10px;
  background-color: yellow;
  border: 3px solid yellow;
}

#click-info {
  font-size: 20px;
}

.link-container {
  display: flex;
 /* width: 50%;*/
  border: 1px solid white;
  justify-content: center;
  font-family: 'Cuprum';
  word-wrap: wrap;
  word-wrap: break-word;
  text-align: center;
}

#game-key {
  display: flex;
  word-wrap: break-word;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  color: white;
}

#link-copy {
  font-family: 'Bungee Shade';
  color: white;
  background: black;
  letter-spacing: 3px;
  font-size: 20px;
  width: 15%;
  padding: 2px 6px 2px 6px;
  border: 4px solid white;
  margin-left: 1%;
}

#game-id {
  color: yellow;
}

#round-results-btn {
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  border: 2px solid white;
  margin: auto;
  width: 20%;
}

/*Restaurants show page list*/
.restaurants-container {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.restaurant-item {
  width: 300px;
  height: 300px;
  text-align: center;
  letter-spacing: 1px;
  /*margin: 20px;*/
  word-wrap: break-word;
  border-radius: 100%;
  background-image: url('https://static1.squarespace.com/static/55d5c0e4e4b0be109fd8762f/t/55e8564ce4b02c708d4a99ff/1441289805237/');
  background-size: 100%;
  cursor: pointer;
 }

.restaurant-name {
  font-family: 'Cuprum';
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: 70px;
  color: white;
}

.restaurant-price {
  font-family: 'Bungee Shade';
  font-size: 20px;
  font-weight: bold;
  color: #66ff66;
}

.restaurant-rating {
  font-family: 'Cuprum';
  font-size: 25px;
  font-weight: bold;
  color: #ff1a1a;
}


/*Result Content*/
.results-container {
  font-size: 25px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#name-container {
  width: 100%;
  border: 3px solid black;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url('https://media.giphy.com/media/aNTlWv7uS78C4/source.gif');
  background-size: contain;
  background-repeat: repeat-x;
}

#winner-name{
  font: 400 100px 'Lobster Two', Helvetica, sans-serif;
  color: black;
  text-shadow: 5px 5px 2px white, 4px 4px 0px rgba(255,255,255, 0.9);
  text-align: center;
}

#winner-website {
  margin-top: 40px;
  font-size: 30px;
}

#winner-website:hover {
  color: blue;
}

#winner-address {
  font-family: 'Cuprum';
  color: white;
  font-size: 40px;
  margin-top: 20px;
}


#directions {
  background-image: url('https://static1.squarespace.com/static/55d5c0e4e4b0be109fd8762f/t/55e8564ce4b02c708d4a99ff/1441289805237/');
  height: 100%;
  width: 100%;
}

#rating {
  color: red;
}


/*Link Colors*/
a:link {
  color: white;
}
a:visited {
  color: black;
}

/*Google Maps*/
#map {
  height: 550px;
  width: 55%;
  border: solid 5px #41A005;
  border-radius: 4px;
 }


/*User Votes*/
#creators-dashboard-container, #finish-vote {
  width: 100%;
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
}

#vote-finish {
  font-size: 45px;
}

#creators-dashboard {
  display: flex;
  justify-content: center;
}

#finish-vote {
  display: flex;
  justify-content: space-around;
}

#vote-check {
  display: flex;
  align-self: center;
}

#round-results-btn {
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  border: 2px solid white;
  width: 290px;
  margin: 0;
}

#finished-users {
  color: white;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  border: 2px solid white;
  width: 290px;
}

/*Submitted Vote*/
.voted {
  background-image: url(http://indiacompliances.com/wp-content/uploads/2017/02/o.png);
}

.voted .restaurant-name {
  font-size: 40px;
  color: white;
  margin-top: 60px;
}

.voted .restaurant-price {
  display: none;
}

.voted .restaurant-rating {
  display: none;
}

/*Dropdown Styling*/
#radius-div {
  display: none;
}

.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
   background-color: #000;
   border: 1px solid white;
   margin: auto;
   margin-bottom: 4px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.dim {
  opacity: 0.3;
}

#header-link {
  text-decoration: none;
}

/*Responsiveness Media Queries*/
@media only screen and (max-height: 700px) and (orientation: portrait) {

 img {
    max-width: 75%;
    height: auto;
  }
}

/*@media only screen and (max-device-height: 700px) and (orientation: landscape) {*/
@media only screen and (min-device-width: 480px) and (max-device-width: 800px){
  .form-container {
    flex-flow: row;
  }

  img {
      max-width: 75%;
      height: auto;
    }
}

@media only screen and (max-width: 1200px) {
  .header{
    width: 80%;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 900px) {
  .header{
    width: 60%;
    margin-top: 13%;
    font-size: 50px;
    letter-spacing: 30px;
  }

 /* .form-container {
    display: flex;
    flex-flow: column-reverse;
  }*/

  .game-instruction {
    width: 100%;
  }

  #map {
    width: 70%;
    flex: none;
  }
  .restaurant-item {
    width: 200px;
    height: 200px;

  }
  .restaurant-name  {
    margin-top: 25px;
    font-size: 25px;
  }

  .restaurant-price .restaurant-item {
    font-size: 15px;
  }

}

@media only screen and (max-device-width: 480px) {
/*  .form-container {
    display: flex;
    flex-direction: column;
  }*/

  .restaurant-item {
    width: 170px;
    height: 170px;
    margin: 20px;
    background-size: 120%;
    background-position: -20px -20px;
    cursor: pointer;
   }

  .restaurant-name {
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 5px;
    margin-top: 25px;
    overflow-wrap: break-word;
  }

  .header{
    width: 65%;
  }

  #link-copy {
    width: 100%;
  }

  .voted .restaurant-name {
    font-size: 24px;
    margin: 5px;
    margin-top: 30px;
  }

  .restaurant-price {
    font-size: 17px;
    margin-top: -12px;
  }

  .restaurant-rating {
    font-size: 17px;
    margin-top: -20px;
  }

  #map {
    width: 105%;
  }
}
