/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: lightblue;
  margin: 0;
  padding: 0;
}

.container {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: yellow;
}

.header {
	font-family: 'Press Start 2P', cursive;
	font-size: 60px;
	color: white;
}

.header {
  position: relative;
  margin-top: 100px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #262626;
  text-transform: uppercase;
  letter-spacing: 60px;
  transition: .5s;
  width: 50%;
  border-bottom: 10px solid yellow;
}


.header:before,
.header:after,
span:before,
span:after {
  content: '';
  position: absolute;
  width: 25.5%;
  height: 100%;
  background: #262626;
  z-index: -1;
  transition: .5s;
}

.header:before {
  top: 0;
  left: -26%;
}

.header:hover:before {
  top: 0;
  left: 0;

}

.header:after {
  top: 0;
  right: -26%;
}


.header:hover:after {
  top: 0;
  right: 0;
}

span:before {
  bottom: -100%;
  left: 25%;
}

.header:hover span:before {
  bottom: 0%;
  left: 25%;
}

span:after {
  top: -100%;
  left: 50%;
}

.header:hover span:after {
  top: 0;
  left: 50%;
}

.header:hover {
  color: yellow;
}

.center {
	  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-instruction {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: white;
}


.list-items {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	color: yellow;
}

.form-container {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: yellow;
    margin-top: 20px;
    padding: 20px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    align-items: center;
    justify-content: center;
}

.join-form {
  margin: 5px;
  text-align: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 10px;
}

.options{
  display: flex;
  color: white;
}

.arrows {
  color: yellow;
  font-size: 200%;
}

/* animation: blink-animation .5s steps(5,start) infinite;
  -webkit-animation: blink-animation .5s steps(5,start) infinite;*/
/*@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}*/

.create-form {
  margin: 5px;
  text-align: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 10px;
}

.submit-button {
  font: 15px Garamond;
  word-spacing: 2px;
  text-decoration: none;
  background-color: blue;
  width: 100%;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 2px solid #99ddff;
  border-left: 2px solid #99ddff;
  border-bottom: 2px solid #000066;
  border-right: 2px solid #000066;
  margin-top: 5px;
}

.restaurant-name {
  font-family: Arial;
  font-size: 20px;
}

.restaurant-item {
  background-image:url('http://www.freeiconspng.com/uploads/fork-and-knife-22.png');
}

.restaurant-item {
  /*border: 2px solid #262626;*/
  width: 300px;
  height: 300px;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px;
  word-wrap: break-word;
  border-radius: 100%;
}


.restaurant-name {
  margin-top: 100px;
}

.restaurants-container {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}

.restaurant-price {
  font-family: Arial;
  font-size: 15px;
}

.restaurant-rating {
  font-family: Arial;
  font-size: 15px;
}

.lets-eat {
  margin: auto;
  width: 27%;
  padding: 10px;
}

.results {
  font-size: 25px;
  padding: 5px;
}

#map {
  height: 500px;
}