// Place all the styles related to the rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.square {
  float: left;
  position: relative;
  width: 15%;
  padding-bottom: 3%;
  margin: 1%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

